{% extends 'base.html' %}
{% block title %}Trip Page{% endblock %}

{% block head %}

{% endblock %}
{% block outofmainbody %}
<!-- Your content outside of main-body goes here -->
{% endblock %}
    {% block body %}
    <!-- <div class="mytrips">
        My Trip ✈️
    </div> -->
        <!-- trip info in block across whole page -->
    <div id="trip">
        <div id = "mytripinfo"></div>
    </div>
        <!-- list of excursions -->
        <!-- date| excursion info across the whole page -->

    {% endblock %}
